@import './fonts.scss';
@import './colors.scss';
@import './shards.scss';

body {
  background: white !important;
}

body, * {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input {
  border: none;
  padding: 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
  &:hover {
    color: $blue-shadow !important;
    text-decoration: none !important;
  }
}

/* Layouts */

.grid-flex {
  display: flex;
  &-wrap {
    flex-wrap: wrap;
  }
}

/* Forms */

.form-wrapper {
  margin-bottom: 30px;
}

.form-title {
  font-size: 14px;
  margin-bottom: 4px;
  color: gray;
}

.form-input {
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 8px;
}
