@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';

$side-bar: 25vh;

.mainpage {
  display: flex;
  flex-wrap: wrap;
}

.mainpage-sidebar {
  width: $side-bar;
  border-right: 1px solid $border;
}

.mainpage-overlay {
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;

  &.hidden {
    display: none;
  }
}

.mainpage-content {
  flex: 1;
}

/* Searchbar */

.search-logo {
  height: 30px;
  margin-right: 106px;
}

.searchbar-menubtn {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.mainpage-search {
  height: $search-bar;
  width: 100%;
  border-bottom: 1px solid $border;
  position: fixed;
  z-index: 2;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  padding-left: calc(30px + #{$side-bar});

  &.hidden {
    padding-left: 30px;
  }
}

.search-input {
  display: flex;
  align-items: center;

  > span {
    margin-right: 10px;
  }

  input {
    width: 500px;
    font-size: 14px;
    &:focus {
      outline: none;
    }
  }
}

.toolbar-actions {
  display: flex;
  align-items: center;

  span {
    margin: 0 12px;
    color: gray;
    cursor: pointer;
    transition-duration: 0.1s;
  }
  span:hover {
    color: $blue;
  }
}

.toolbar-profile {
  height: $search-bar-profile;
  width: $search-bar-profile;
  border-radius: 100px;
  margin-left: 20px;
  cursor: pointer;
  transition-duration: 0.1s;

  &:hover {
    transform: scale(1.3, 1.3);
    border: 5px solid rgb(209, 209, 209);
  }
}

.mainpage-popup {
  position: fixed;
  top: 5vh;
  right: 40px;
  z-index: 10;
  background: white;
  border-radius: 6px;
  box-shadow: 2px 4px 16px -5px rgba(0,0,0,0.5);
  padding: 10px 0;

  a {
    display: flex;
    align-items: center;
    padding: 10px 40px 10px 16px;
    transition-duration: 0.1s;
  }

  a:hover {
    span {
      color: $blue-shadow;
    }
    p {
      color: $blue;
    }
  }

  span {
    font-size: 2.5vh;
    color: rgb(172, 172, 172);
    margin-right: 8px;
    transition-duration: 0.1s;
  }

  p {
    margin: 0;
    color: rgb(31, 31, 31);
    font-size: 1.5vh;
    font-weight: 600;
    transition-duration: 0.1s;
  }
}

/* Route */

.mainpage-route {
  margin-top: $search-bar;
  margin-left: $side-bar;

  &.hidden {
    margin-left: 0;
  }
}

/* Sidebar */

$sidepad: 24px;

.mainpage-sidebar {
  height: 100vh;
  position: fixed;
  z-index: 999;
  background: white;
  transition-duration: 0.2s;

  &.hidden {
    transform: translateX(-#{$side-bar});
  }

  &.visible {
    transform: translateX(#{$side-bar});
  }
}

.mainpage-logo {
  width: 55%;
  padding: $sidepad;
  padding-bottom: 3px;
}

.mainpage-user {
  padding: $sidepad;
  padding-bottom: 0;

  img {
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 100px;
    margin-bottom: 2vh;
  }

  h1 {
    font-weight: 600;
    font-size: 2vh;
    margin-bottom: 5px;
    line-height: normal;
    letter-spacing: normal;
  }

  h2 {
    font-weight: normal;
    font-size: 1.5vh;
    color: gray;
    line-height: normal;
    letter-spacing: normal;
  }
}

.mainpage-features {
  padding: 0 $sidepad;
  margin: 4vh 0;

  h1 {
    color: gray;
    font-size: 1.2vh;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 1.5vh;
    line-height: normal;
  }
}

.mainpage-features-item {
  display: flex;
  align-items: center;
  margin: 1.4vh 0;
  transition-duration: 0.1s;

  span {
    font-size: 20px;
    margin-right: 1.5vh;
    color: #9b9b9b;
    transition-duration: 0.1s;
  }

  p {
    margin: 0;
    font-size: 1.5vh;
    font-weight: 600;
    color: #2b2b2b;
    transition-duration: 0.1s;
  }

  &:hover {
    span {
      color: $blue-shadow;
    }
    p {
      color: $blue;
    }
  }
}
